/*
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

1rem = 10px
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Afacad Flux", sans-serif;
    font-size: 62.5%;
    background-color: #4472c4;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 10rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.block {
    min-width: 5rem;
    min-height: 5rem;
    background-color: blue;
    border-radius: 5px;
}

button {
    background-color: #7030a0;
    font-size: 3.6rem;
    color: white;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
    padding: 4px;
    margin: 0 0.5rem 0 0.5rem;
}
